<div class="mb-3">
  <label for="firstName" class="form-label">First Name</label>
  <input type="text" class="form-control" id="firstName" [(ngModel)]="firstName" placeholder="First Name">
</div>
<div class="mb-3">
  <label for="lastName" class="form-label">Last Name</label>
  <input type="text" class="form-control" id="lastName" [(ngModel)]="lastName" placeholder="Last Name"></div>
<div class="mb-3">
  <label for="email" class="form-label">E-mail</label>
  <input type="text" class="form-control" id="email" [(ngModel)]="email" placeholder="E-mail">
</div>
<small class="text-danger" *ngIf="notFilled">*All fileds must be populated</small>
<small class="text-success" *ngIf="success">Information successfully edited!</small>
<small class="text-danger" *ngIf="failure">Error occurred. Try again later.</small>