<div class="panelbor">
  <div class="panel-body">
    <form [formGroup]="signupForm">
      <div class="form-group pt-3">
        <div
          class="input-field"
          [class.error]="
            signupForm.controls['firstName'].dirty &&
            signupForm.hasError('required', 'firstName')
          "
        >
          <span class="fa fa-user p-2" style="font-size: 24px"></span>
          <input
            formControlName="firstName"
            type="text"
            placeholder="FirstName"
          />
        </div>
      </div>
      <div class="invalid">
        <span
          *ngIf="
            signupForm.controls['firstName'].dirty &&
            signupForm.hasError('required', 'firstName')
          "
          class="text-danger"
          >*FirstName is required</span
        >
      </div>
      <div class="form-group pt-3">
        <div
          class="input-field"
          [class.error]="
            signupForm.controls['lastName'].dirty &&
            signupForm.hasError('required', 'lastName')
          "
        >
          <span class="fa fa-user p-2" style="font-size: 24px"></span>

          <input
            formControlName="lastName"
            type="text"
            placeholder="LastName"
          />
        </div>
      </div>
      <div class="invalid">
        <span
          *ngIf="
            signupForm.controls['lastName'].dirty &&
            signupForm.hasError('required', 'lastName')
          "
          class="text-danger"
          >*LastName is required</span
        >
      </div>
      <div class="form-group pt-3">
        <div
          class="input-field"
          [class.error]="
            signupForm.controls['password'].dirty &&
            signupForm.hasError('required', 'password')
          "
        >
          <span class="fa fa-lock p-2" style="font-size: 24px"></span>
          <input
            formControlName="password"
            [type]="type"
            placeholder="Password"
          />
          <span
            ><i
              class="fa {{ eyeIcon }}"
              style="margin-left: -30px; font-size: 20px"
            ></i
          ></span>
        </div>
      </div>
      <div class="invalid">
        <span
          *ngIf="
            signupForm.controls['password'].dirty &&
            signupForm.hasError('required', 'password')
          "
          class="text-danger"
          >*Password is required</span
        >
      </div>

      <div class="form-group pt-3">
        <div
          class="input-field"
          [class.error]="
            signupForm.controls['email'].dirty &&
            signupForm.hasError('required', 'email')
          "
        >
          <span
            class="fa fa-envelope p-2"
            style="font-size: 20px; margin-left: -4px"
          ></span>

          <input
            formControlName="email"
            type="text"
            placeholder="User E-mail Address"
          />
        </div>
      </div>
      <div class="invalid">
        <span
          *ngIf="
            signupForm.controls['email'].dirty &&
            signupForm.hasError('required', 'email')
          "
          class="text-danger"
          >*Email is required</span
        >
      </div>
      <div class="form-group pt-3">
        <div class="input-field">
          <span
            class="fa fa-home p-2"
            style="font-size: 24px; margin-left: -7px"
          ></span>

          <select>
            <option value="" selected disabled>--Select City --</option>
            <option *ngFor="let city of cities" [value]="city.id">
              {{ city.cityName }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group pt-3">
        <div class="input-field">
          <span
            class="fa fa-home p-2"
            style="font-size: 24px; margin-left: -7px"
          ></span>

          <select [(ngModel)]="neighName">
            <option value="" disabled selected>--Select Neighborhood --</option>
            <option *ngFor="let neig of neighborhoods" [value]="neig.neigbName">
              {{ neig.neigbName }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group pt-3">
        <div
          class="input-field"
          [class.error]="
            signupForm.controls['address'].dirty &&
            signupForm.hasError('required', 'address')
          "
        >
          <span
            class="fa fa-home p-2"
            style="font-size: 24px; margin-left: -7px"
          ></span>

          <input
            formControlName="address"
            type="text"
            placeholder="User Address "
          />
          <input type="hidden" formControlName="city" />
        </div>
      </div>
      <div class="invalid">
        <span
          *ngIf="
            signupForm.controls['address'].dirty &&
            signupForm.hasError('required', 'address')
          "
          class="text-danger"
          >*Address is required</span
        >
      </div>
      <button type="submit" class="btn col-md-5">Confirm</button>
      <input formControlName="city" type="hidden" [(ngModel)]="cityName" />
    </form>
  </div>
</div>
