<div class="container-fluid row h-100 py-3 mx-0 my-0" style="background-color: #DFEFF6; color: #5875A1;">
  <div class="image-container row w-100 text-center">
    <img src="assets/images/consumption.png" style="width: 50%; height: 50%"/>
    <h6>Num. Of Devices</h6>
  </div>
  <div class="image-container row w-100 text-center">
    <img src="assets/images/consumption.png" style="width: 50%; height: 45%"/>
    <h5>{{ consumption }} kW</h5>
    <h6>Current Consumption</h6>
  </div>
  <div class="image-container row w-100 text-center">
    <img src="assets/images/production.png" style="width: 50%; height: 45%"/>
    <h5>{{ production }} kW</h5>
    <h6>Current Production</h6>
  </div>
</div>