.consumption {
  color: #FF414E;
}
.production{
  color: #80BC00;
}
.storage{
  color: #2a96d9;
}
.prediction {
  color: #F4C430;
}
h6 {
  color: #466471;
}
.realizationbtn.active {
  background-color: #ccdee9;
  border-color: #5875A1;
  color: #5875A1;
}
.realizationbtn:not(.active) {
  background-color: #5875A1;
  border-color: #5875A1;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn-close{
  color: white;
  background-color: white;
}
.btn-primary{
  background-color: #5875A1;
  border-color: #5875A1;
}