.consumption {
  color: #c14b48;
}
.production {
  color: #48bec1;
}
.predictionProduction {
  color: #80bc00;
}
.predictionConsumption {
  color: rgb(219, 169, 30);
}
h6 {
  color: #466471;
}
#realizationDeviceTableLabel{
  color: white;
}
.btn-primary {
  background-color: #466471;
  border-color: #466471;
}
.realizationDevicebtn.active {
  background-color: #c1dfd5;
  border-color: #466471;
  color: #466471;
}
.realizationDevicebtn:not(.active) {
  background-color: #466471;
  border-color: #466471;
}
.btn-close{
  color: white;
  background-color: white;
}
.btn-outline-primary{
  color: #466471;
  border-color: #466471;
}