<ngx-spinner
  bdColor="rgba(0, 0, 0, 0)"
  size="medium"
  color="black"
  type="ball-clip-rotate"
  [showSpinner]="show"
  [fullScreen]="false"
  *ngIf="show"
  [name]="'spiner1'"
></ngx-spinner>
<div
  class="card-header py-3 row mx-0 my-0 px-0"
  style="background-color: rgb(177, 209, 193, 0.08)"
>
  <div
    class="col-5"
    style="
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
    "
  >
    <h6 class="m-0 font-weight-bold ps-2">
      Consumption History &nbsp;<button
        class="btn btn-outline-primary p-0 px-1 m-0"
        data-bs-toggle="modal"
        data-bs-target="#realizationProsumerConsumptionTable"
      >
        <i class="fa fa-table"></i>
      </button>
    </h6>
  </div>
  <div
    class="col-7 p-1 group"
    style="display: flex; justify-content: right; margin: auto"
  >
    <button
      class="btn btn-primary m-1 realizationbtn"
      id="realiz1"
      (click)="HistoryWeek('realiz1')"
    >
      7D
    </button>
    <button
      class="btn btn-primary m-1 realizationbtn"
      id="realiz2"
      (click)="HistoryMonth('realiz2')"
    >
      1M
    </button>
    <button
      class="btn btn-primary m-1 realizationbtn"
      id="realiz3"
      (click)="HistoryYear('realiz3')"
    >
      1Y
    </button>
  </div>
</div>
<div class="card-body" style="width: 100%; margin: 0 auto">
  <div
    class="w-100 px-0 py-0 mx-0 my-0"
    id="grafikConsumptionHistory"
    style="display: flex; justify-content: center; align-items: center"
  >
    <h1
      *ngIf="data.length == 0"
      style="
        text-align: center;
        margin-top: 15%;
        opacity: 60%;
        font-style: italic;
        font-weight: normal;
        z-index: 100;
      "
    >
      There Is No Available Data
    </h1>
    <canvas
      *ngIf="data.length != 0"
      id="chartCanvas"
      style="height: 100% !important; width: 100% !important"
    ></canvas>
  </div>
</div>

<div
  class="modal fade"
  id="realizationProsumerConsumptionTable"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="realizationProsumerConsumptionTableLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header text-white" style="background-color: #466471">
        <h6 class="modal-title" id="realizationProsumerConsumptionTableLabel">
          Consumption History Table
        </h6>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="modal-body py-0 px-2"
        style="overflow-y: auto; overflow-x: hidden"
        id="modalFadeConsumptionRealizationTableBody"
      >
        <app-realization-chart-table
          [type]="'Consumption'"
          [data]="data"
        ></app-realization-chart-table>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="exportTable(data)"
        >
          Export Table
        </button>
      </div>
    </div>
  </div>
</div>
