body {background-color: coral;
    font-family: roboto;}
.glavni{
   
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    
}

.centralni{
    display: flex;
     
    
    padding: 10px;
 
}
.desni{
    width: 50%;  
    
   
}
.divinput{
    
    display: flex;
    margin: 20px auto;
    
}
label{
    font-family: roboto;
    font-size: 25px;
    color: #5875A1;
}
 input{
    
    border-radius: 7px;
    background-color: #E8F3F8;
    font-family: roboto;
    font-size: 20px;
     border: wheat;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px;
    height: 40px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
 }
p{
    font-size: 20px;
    margin-bottom: 0px;
  font-family: roboto;
  color:#5875A1;
}
#dugme{
    background-color: #5875A1;
    border-radius: 7px;
    width: 40%;
    padding:0;
    float: right;
    margin-top: 10px;
    color: white;
    font-family: roboto;
}
