


  <div class="centralni">
    <div class="divinput">
      <form [formGroup]="editUser" (ngSubmit)="UpdateData()">
        <label>First name:</label><br />
        <input type="text" name="firstName" formControlName="FirstName" /><br />
        <label>Last name:</label><br />
        <input type="text" name="lastName" formControlName="LastName" /><br />
        <label>Email</label><br />
        <input type="text" name="email" formControlName="Email" /><br />
        <input
          id="dugme"
          type="button"
          value="Save"
          routerLink="/DsoApp/user/{{ id }}"
          (click)="UpdateData()"
        />
      </form>
    </div>
  </div>
 
<app-popup-add></app-popup-add>
<app-popup-emp></app-popup-emp>
<app-worker-profile></app-worker-profile>
