
<div
  class="modal fade"
  id="staticBackdrop1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdrop1Label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-white" style="background-color: #466471">
        <h5 class="modal-title" id="staticBackdrop1Label">Add new device</h5>
        <button
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="close()"
        ></button>
      </div>
      <div class="modal-body">
        <app-add-device-form
          #c
        ></app-add-device-form>
        <br/>
        <small class="text-danger" *ngIf="notFilled">*All fileds must be populated</small>
        <small class="text-success" *ngIf="success">Device successfully added!</small>
        <small class="text-danger" *ngIf="failure">Error occurred. Try again later.</small>
      </div>

      <div class="modal-footer">
        <button
          id="closeAddDevice"
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="close()"
          style="background-color: #6a8884;"
        >
          Close
        </button>
        <button class="btn btn-primary" style="background-color: #466471; border-color: #466471;" (click)="registerDevice()">
          Add
        </button>
        <button class="btn btn-primary" [hidden]="true" id="addDeviceCloseOffcanvas" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasNavbarDark">Close Modal</button>
      </div>
    </div>
  </div>
</div>

