<ngx-spinner
      bdColor="rgba(0, 0, 0, 0.95)"
      size="medium"
      color="#fff"
      type="ball-clip-rotate"
      [showSpinner]="true"
      [fullScreen]="true"
      [zIndex]="9999"
      [name]="'mainSpiner'"
      ><p style="font-size: 25px; color: white">Loading Data...</p></ngx-spinner
  >
<div class="d-flex flex-column h-100">
  <div class="d-flex h-100" style="overflow: hidden;padding-left:0px;padding-right:0px;">
    <div class="col-md-2" style="padding-left:0px;padding-right:0px;">
      <app-home-sidebar></app-home-sidebar>
    </div>
    <div class="col-md-10" style="padding-left:0px;padding-right:0px;">
      <app-pocetna></app-pocetna>
    </div>
  </div>
<app-popup-add></app-popup-add>
<app-popup-emp></app-popup-emp>
<app-worker-profile></app-worker-profile>





