@import url("https://fonts.cdnfonts.com/css/rhodium-libre");
@import url("https://fonts.googleapis.com/css?family=Roboto");

.panelbor {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

.row {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 78%;
  
  display: flex;
  background-color: white;
  margin-left: 22%;
  box-shadow: 1px 5px 5px 7px rgba(0, 0, 0, 0.25);
}
.fa {
  color: #08376b;
}

.desno {
  margin: 0;
  justify-content: center;

  display: flex;

  width: 78%;

  position: relative;
  background: white;
  margin-left: 12%;
}


.input-field input,
select {
  width: 400px;
  height: 50px;
  background-color: #e8f3f8;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 12px 20px;
  color: #08376b;
  letter-spacing: 1px;
  font-weight: bold;
}
.image-group {
  margin-left: 0;
}

.input-field input::placeholder {
  margin-left: 13%;
  color: #08376b;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.btn {
  background-color: #5875a1;
  color: white;
  font-size: 18px;
  width: 25%;
  font-family: "Roboto", cursive;
  float: right;
  margin-right: 20px;
}

.f1 {
  color: #08376b;
}
.invalid {
  font-size: 14px;
}
.btn:hover{
    background-color: #08376b;
     color: white;

}
#dugme{
    width: 100px;
    color: white;
}
#dugme:hover{
    background-color: #08376b;
    color: white;
}
  
.btn-close{
  color: white;
  background-color: white;
}