<div class="container mx-0 my-0 px-0 py-0 h-100" id="container">
  <div class="row h-100" style="margin: 0">
    <div style="background-color: #5875a1" class="h-100">
      <div
        class="d-flex flex-column text-white text-center align-items-center justify-content-center"
      >
        <div
          class="container py-4 align-items-center justify-content-center"
          id="sadrzaj"
        >
          <div class="section mb-3">
            <p class="text-sm mb-0 text-uppercase font-weight-bold">Region</p>
            <h3 class="font-weight-bolder">Šumadija</h3>
          </div>
          <div class="section mb-3">
            <p class="text-sm mb-0 text-uppercase font-weight-bold">
              Current Consumption
            </p>
            <h3 class="font-weight-bolder">{{ currConsumption }} kW</h3>
          </div>
          <div class="section mb-3">
            <p class="text-sm mb-0 text-uppercase font-weight-bold">
              Current Production
            </p>
            <h3 class="font-weight-bolder">{{ currProduction }} kW</h3>
          </div>
          <div class="section">
            <p class="text-sm mb-0 text-uppercase font-weight-bold">
              System Status
            </p>
            <div
              style="
                width: 100%;
                margin: 0 auto;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <ngx-charts-pie-grid
                [view]="[200, 400]"
                id="grid"
                [results]="data"
                [scheme]="colorScheme"
                [animations]="true"
                [tooltipDisabled]="false"
              >
              </ngx-charts-pie-grid>
            </div>
          </div>
          <div class="section">
            <p class="text-sm mb-0 text-uppercase font-weight-bold">
              SYSTEM USERS
            </p>
            <h3>
              <b>{{ numOfUsers }}</b>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
