p {
  font-family: "Open Sans";
}

::ng-deep #grid text {
  fill: white;
}

::ng-deep #grid .pie-grid-item {
  display: block;
}
::ng-deep #grid .pie-grid-chart {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
}

.arc {
  stroke: #fff;
  stroke-width: 2px;
}

svg {
  overflow: visible;
}
#potrosnja{
  color:#ff404c;
 
}
#proizvodnja{
  color: #82bf03;
}