<main
  class="main-content position-relative border-radius-lg"
  style="overflow-y: scroll; max-height: 89.1vh"
>
  <div class="container-fluid py-4" id="deviceInfoDataContainer">
    <div class="row">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="row">
          <div class="col-lg-12 mb-lg-0 mb-4">
            <div class="card z-index-2 h-100">
              <div
                class="card-header"
                style="
                  margin-left: 0;
                  margin-right: 0;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding-top: 2%;
                  padding-bottom: 2%;
                  padding-left: 3%;
                "
              >
                <h6 class="col-6" style="color: #08376b; margin: 0">
                  Device Information
                </h6>
                <div
                  class="col-6 manageDeviceWork"
                  *ngIf="activity == 0"
                  (click)="turnDeviceoffOn()"
                  style="
                    display: flex;
                    justify-content: right;
                    align-items: center;
                  "
                >
                  <i class="fa fa-power-off fa-lg off"></i>&nbsp; Turn On
                </div>
                <div
                  class="col-6 manageDeviceWork"
                  *ngIf="activity != 0"
                  (click)="turnDeviceoffOn()"
                  style="
                    display: flex;
                    justify-content: right;
                    align-items: center;
                  "
                >
                  <i class="fa fa-power-off fa-lg on"></i>&nbsp; Turn Off
                </div>
                <br />
              </div>
              <hr class="mt-0 mb-4" />
              <div class="row pt-1 mx-0 my-0">
                <div class="col-6 mb-1" style="padding-left: 3%">
                  <h5 style="color: #08376b">{{ IpAddress }}</h5>
                  <p class="text-muted">IP Address</p>
                </div>
                <div class="col-6 mb-1">
                  <h5 style="color: #08376b">{{ TypeName }}</h5>
                  <p class="text-muted">Device Type</p>
                </div>
              </div>
              <hr class="mt-0 mb-4" />
              <div class="row pt-1 mx-0 my-0">
                <div class="col-6 mb-1" style="padding-left: 3%">
                  <h5 style="color: #08376b">{{ ModelName }}</h5>
                  <p class="text-muted">Device Model</p>
                </div>
                <div class="col-6 mb-1">
                  <h5 style="color: #08376b">{{ Name }}</h5>
                  <p class="text-muted">Device Name</p>
                </div>
              </div>
              <hr class="mt-0 mb-4" />
              <div class="row pt-1 mx-0 my-0">
                <div class="col-6 mb-1" style="padding-left: 3%">
                  <h5 style="color: #08376b">{{ prosumerName }}</h5>
                  <p class="text-muted">Owner</p>
                </div>
                <div class="col-6 mb-1">
                  <h5 style="color: #08376b">{{ prosumerUsername }}</h5>
                  <p class="text-muted">Owner Username</p>
                </div>
              </div>
              <hr class="mt-0 mb-3" />

              <div class="row pt-1 mx-0 my-0 mb-2">
                <div class="col-6 mb-1 ps-3">
                  <h6 class="ps-3" style="color: green" *ngIf="DsoView">
                    <i class="fa fa-check-square"></i> Can View
                  </h6>
                  <h6 style="color: #c14b48" *ngIf="!DsoView">
                    <i class="fa fa-minus-square"></i> Can't View
                  </h6>
                </div>
                <div class="col-6 mb-1">
                  <h6 style="color: green" *ngIf="DsoControl">
                    <i class="fa fa-check-square"></i> Can Control
                  </h6>
                  <h6 style="color: #c14b48" *ngIf="!DsoControl">
                    <i class="fa fa-minus-square"></i> Can't Control
                  </h6>
                  <!-- <p class="text-muted">Average hourly consumption</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-xl-12 col-sm-2 mb-xl-0 mb-4">
            <div class="card">
              <div
                class="card-body p-3"
                id="consumptionLimitCardBody"
                style="display: flex; justify-content: center"
              >
                <div class="row">
                  <div class="col-12" id="consumptionLimitBody">
                    <div class="numbers" *ngIf="cat == 1 || cat == 2">
                      <ngx-gauge
                        [type]="'semi'"
                        [value]="currentUsage"
                        [label]="type"
                        [append]="'kWh'"
                        [min]="0"
                        [max]="maxUsageNumber"
                        [size]="width"
                        [cap]="'butt'"
                        [valueFormatting]="formatValue"
                        [thick]="45"
                        [markers]="markers"
                        [thresholds]="thresholds"
                      >
                      </ngx-gauge>
                    </div>
                    <div
                      class="w-100 mt-2 batteryCont"
                      *ngIf="cat == 3"
                      [ngStyle]="{
                        height: widthService.deviceWidth > 576 ? '98%' : '70%'
                      }"
                    >
                      <div class="battery-body p-1">
                        <h1
                          [ngStyle]="{
                            left: widthService.deviceWidth > 576 ? '2%' : '3%'
                          }"
                        >
                          <i
                            class="fa fa-bolt"
                            style="color: #08376b"
                            *ngIf="state == 2 && percentFull < 100"
                          ></i>
                          <i
                            class="fa fa-exclamation-triangle"
                            style="color: #08376b"
                            *ngIf="state == 1 && percentFull <= 15"
                            data-bs-toggle="modal"
                            data-bs-target="#batteryPercentageWarning"
                          >
                          </i>
                          {{ percentFull }}%
                        </h1>
                        <div
                          class="battery-level"
                          id="bateryPercentage"
                          [ngStyle]="{
                            width: percentFull + '%',
                            'background-color':
                              state == 0
                                ? '#8c99a6'
                                : state == 1
                                ? '#f3734d'
                                : '#54d454'
                          }"
                        ></div>
                      </div>
                      <div class="battery-top ms-0"></div>
                    </div>
                    <div class="legend w-100 text-center" *ngIf="cat == 1">
                      <i class="fa fa-circle greenZone"
                        >&nbsp;0-{{ AvgUsage }} kWh</i
                      >&nbsp;&nbsp;&nbsp;
                      <i class="fa fa-circle blueZone"
                        >&nbsp; {{ AvgUsage }}-{{ MaxUsage }} kWh</i
                      >&nbsp;&nbsp;&nbsp;
                      <i class="fa fa-circle redZone"
                        >&nbsp;{{ MaxUsage }}+ kWh</i
                      >
                    </div>
                    <div class="legend w-100 text-center" *ngIf="cat == 2">
                      <i class="fa fa-circle redZone"
                        >&nbsp;0-{{ AvgUsage }} kWh</i
                      >&nbsp;&nbsp;&nbsp;
                      <i class="fa fa-circle blueZone"
                        >&nbsp; {{ AvgUsage }}-{{ MaxUsage }} kWh</i
                      >&nbsp;&nbsp;&nbsp;
                      <i class="fa fa-circle greenZone"
                        >&nbsp;{{ MaxUsage }}+ kWh</i
                      >
                    </div>
                    <div
                      class="legend w-100 text-center"
                      *ngIf="cat == 3"
                      style="margin-top: 3%; padding-bottom: 2%"
                    >
                      <h5 style="color: #08376b">
                        Current Status: {{ currentCapacity }} kWh
                      </h5>
                      <h6 style="color: #08376b; margin-top: 0">
                        Max Capacity: {{ maxCapacity }} kWh
                      </h6>
                      <i class="fa fa-circle batteryOff">&nbsp;Turned Off</i
                      >&nbsp;&nbsp;&nbsp;
                      <i class="fa fa-circle batteryCharging">&nbsp;Charging</i
                      >&nbsp;&nbsp;&nbsp;
                      <i class="fa fa-circle batteryInUse">&nbsp;In Use</i
                      >&nbsp;&nbsp;&nbsp;
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-xl-6 col-sm-2 mb-xl-0 mb-4">
            <div class="card" style="display: flex; justify-content: center">
              <div
                class="card-body p-3"
                style="display: flex; justify-content: center"
              >
                <div class="row">
                  <div class="col-12" id="avgBatteryCard">
                    <div class="numbers">
                      <!--  *ngIf="cat==1 || cat==2" -->
                      <ngx-gauge
                        [type]="'semi'"
                        [value]="AvgUsage"
                        [label]="'Average hourly ' + type"
                        [append]="'kWh'"
                        [min]="0"
                        [max]="maxUsageNumber"
                        [size]="150"
                        [cap]="'butt'"
                        [thick]="10"
                      >
                      </ngx-gauge>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-sm-2 mb-xl-0 mb-4">
            <div class="card" style="display: flex; justify-content: center">
              <div
                class="card-body p-3"
                style="display: flex; justify-content: center"
              >
                <div class="row">
                  <div class="col-12" id="maxBatteryCard">
                    <div class="numbers">
                      <!--  *ngIf="cat==1 || cat==2" -->
                      <ngx-gauge
                        [type]="'semi'"
                        [value]="MaxUsage"
                        [label]="'Maximum hourly ' + type"
                        [append]="'kWh'"
                        [min]="0"
                        [max]="maxUsageNumber"
                        [size]="150"
                        [cap]="'butt'"
                        [thick]="10"
                      >
                      </ngx-gauge>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card p-0 mb-4">
          <app-realizationDevice [type]="type" #realizationDevice></app-realizationDevice>
        </div>
        <div class="card p-0 mb-4">
          <app-predictionDevice [type]="type" #predictionDevice></app-predictionDevice>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="batteryPercentageWarning"
    tabindex="-1"
    aria-labelledby="batteryPercentageWarningLabel"
    aria-hidden="true"
    data-bs-keyboard="false"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header text-white bg-danger ps-3">
          <h3 class="modal-title" id="batteryPercentageWarningLabel">
            Battery Is Running Out!
          </h3>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body text-center">
          <h5 class="text-danger">Your battery has 15% or less power left</h5>
        </div>
      </div>
    </div>
  </div>
</main>
<app-worker-profile></app-worker-profile>
<div
  class="modal fade"
  id="turnBatteryOnDeviceInfo"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="turnBatteryOnDeviceInfoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-white" style="background-color: #466471">
        <h4 class="modal-title ps-2" id="turnBatteryOnDeviceInfoLabel">
          <!-- Turn this device {{ offOn }}? -->
          Turn On {{ Name }}
        </h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="background-color: white"
        ></button>
      </div>
      <div
        class="modal-body row d-flex justify-content-center align-items-center"
      >
        <div
          class="col-6 col-lg-6"
          style="display: flex; justify-content: center; align-items: center"
        >
          <!-- use battery -->
          <div
            (click)="toggleStorageDev(1)"
            class="text-center p-3 manageDeviceWork"
          >
            <i class="fa fa-power-off inUse"></i>
            <p style="color: green; margin-top: 3%">Use The Battery</p>
          </div>
        </div>
        <div
          class="col-6 col-lg-6 text-center text-lg-start"
          style="display: flex; justify-content: center; align-items: center"
        >
          <button
            id="closeModalBatteryBtnDeviceInfo"
            [hidden]="true"
            data-bs-dismiss="modal"
            data-bs-target="#turnBatteryOnDeviceInfo"
          >
            Close Modal
          </button>
          <button
            id="openModalBatteryBtnDeviceInfo"
            [hidden]="true"
            data-bs-toggle="modal"
            data-bs-target="#turnBatteryOnDeviceInfo"
          >
            Open Modal
          </button>

          <!-- charge battery -->
          <div
            class="text-center p-3 manageDeviceWork"
            (click)="toggleStorageDev(2)"
          >
            <i class="fa fa-plug charge"></i>
            <p style="color: #08376b; margin-top: 3%">Charge The Battery</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
