<div class="mb-3">
    <label for="currentPass" class="form-label">Current Password</label>
    <input type="password" class="form-control" id="currentPass" [(ngModel)]="currentPass">
    <small class="text-danger" *ngIf="incorrectCurrent">Incorrect password!</small>
  </div>
  <div class="mb-3">
      <label for="newPass" class="form-label">New Password</label>
      <input type="password" class="form-control" id="newPass" [(ngModel)]="newPass">
  </div>
  <div class="mb-3">
      <label for="confirmNewPass" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="confirmNewPass" [(ngModel)]="confirmNewPass">
  </div>
  
  <button class="btn btn-primary" id="closeChangePassOnSuccess" [hidden]="true" data-bs-dismiss="modal" data-bs-target="#changePasswordWorkerProfile">Close Modal</button>
  <button class="btn btn-primary" id="openWorkerProfileAgain" [hidden]="true" data-bs-toggle="modal" data-bs-target="#exampleModal4">Open Worker Modal</button>
  
  <small class="text-danger" *ngIf="dontMatch">*New and confirm password don't match!</small>
  <small class="text-success" *ngIf="success">Password successfully changed! Logging out...</small>
  <small class="text-danger" *ngIf="failure">Incorrect current password.</small>
  <small class="text-danger" *ngIf="empty">*Populate all fields!</small>