<div class="card-header" style="background-color: rgb(177, 209, 193, 0.08)">
  <div class="row" style="padding-top: 2%; padding-bottom: 2%">
    <div
      class="col-6 col-lg-4 mx-0 my-0"
      style="display: flex; align-items: center"
    >
      <h6 class="m-0 font-weight-bold">This Months {{ gaugeLabel }}</h6>
    </div>
    <div
      class="col-6 col-lg-8 row mx-0 my-0 pe-0 pe-lg-2"
      style="display: flex; justify-content: end;"
    >
      <div
        class="col-12 col-lg-6 col-xl-12 col-xxl-6 form-check mx-lg-1 mx-xxl-0"
        style="display: flex; justify-content: end"
      >
        <input
          class="form-check-input"
          type="radio"
          name="gaugeChartOption"
          id="gaugeOptionConsumption"
          (change)="onRadioButtonChange($event, 'consumption')"
          [checked]="showConsumptio"
        />
        <label class="form-check-label" for="gaugeOptionConsumption">
          &nbsp;Consumption
        </label>
      </div>
      <div
        class="col-12 col-lg-5 col-xl-12 col-xxl-5 form-check mx-lg-3 mx-xxl-1"
        style="display: flex; justify-content: end"
      >
        <input
          class="form-check-input"
          type="radio"
          name="gaugeChartOption"
          id="gaugeOptionProduction"
          (change)="onRadioButtonChange($event, 'production')"
          [checked]="showProduction"
        />
        <label class="form-check-label" for="gaugeOptionProduction">
          &nbsp;Production
        </label>
      </div>
    </div>
  </div>
</div>
<div
  class="card-body"
  style="width: 100%; margin: 0 auto"
  id="consumptionLimitCardBody"
>
  <div
    class="w-100 px-0 py-0 mx-0 my-0"
    style="display: flex; justify-content: center; align-items: center"
    id="consumptionLimitBody"
  >
    <ngx-gauge
      *ngIf="showConsumptio"
      class="text-size"
      [type]="'semi'"
      [size]="width"
      [label]="gaugeLabel + ' [kWh]'"
      [min]="0"
      [max]="2000"
      [markers]="markersConsumption"
      [value]="data"
      [cap]="'butt'"
      [thick]="thickness"
      [thresholds]="thresholdsConsumption"
    >
    </ngx-gauge>
    <ngx-gauge
      *ngIf="showProduction"
      class="text-size"
      [type]="'semi'"
      [size]="width"
      [label]="gaugeLabel + ' [kWh]'"
      [min]="0"
      [max]="2000"
      [markers]="markersProduction"
      [value]="data"
      [cap]="'butt'"
      [thick]="thickness"
      [thresholds]="thresholdsProduction"
    >
    </ngx-gauge>
  </div>
  <div class="legend w-100 text-center" *ngIf="showConsumptio">
    <i class="fa fa-circle greenZone">&nbsp;0-350 kWh</i>&nbsp;&nbsp;&nbsp;
    <i class="fa fa-circle blueZone">&nbsp;350-1600 kWh</i>&nbsp;&nbsp;&nbsp;
    <i class="fa fa-circle redZone">&nbsp;1600+ kWh</i>
  </div>
</div>
