.consumption {
  color: #d96d2a;
}
h6 {
  color: #466471;
}
#predictionDeviceTableLabel{
  color: white;
}
.btn-primary {
  background-color: #466471;
  border-color: #466471;
}
.predictionDevbtn.active {
  background-color: #c1dfd5;
  border-color: #466471;
  color: #466471;
}
.predictionDevbtn:not(.active) {
  background-color: #466471;
  border-color: #466471;
}
.btn-close{
  color: white;
  background-color: white;
}
.btn-outline-primary{
  color: #466471;
  border-color: #466471;
}