<ngx-spinner
  bdColor="rgba(0, 0, 0, 0)"
  size="medium"
  color="black"
  type="ball-clip-rotate"
  [showSpinner]="true"
  [fullScreen]="false"
  [name]="'spiner3'"
></ngx-spinner>
<div>
  <div
    class="card-header pb-0 pt-3 bg-transparent row"
    style="margin-left: 0; margin-right: 0"
  >
    <div
      class="col-md-6"
      style="
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding-right: 0;
      "
    >
      <h6 class="m-0 font-weight-bold ps-2" style="margin-bottom: 2px">
        Prediction&nbsp;<button
          class="btn btn-outline-primary p-0 px-1 m-0"
          data-bs-toggle="modal"
          data-bs-target="#predictionAllProsumersTable"
        >
          <i class="fa fa-table"></i>
        </button>
      </h6>
    </div>
    <div
      class="col-md-6"
      style="
        display: flex;
        justify-content: right;
        margin: 0px 0px 2px auto;
        padding: 0;
      "
    >
      <button
        class="btn btn-primary predictionbtn"
        id="pred1"
        (click)="PredictionDay('pred1')"
        style="margin: 1px"
        type="button"
      >
        24H
      </button>
      <button
        class="btn btn-primary predictionbtn"
        id="pred2"
        (click)="Prediction3Days('pred2')"
        style="margin: 1px"
        type="button"
      >
        3 Days
      </button>
      <button
        class="btn btn-primary predictionbtn"
        id="pred3"
        (click)="PredictionWeek('pred3')"
        type="button"
        style="margin: 1px"
      >
        Week
      </button>
    </div>
  </div>

  <div
    style="
      width: 100%;
      margin: 0 auto;
      min-height: 100% !important;
      padding-top: 5px;
    "
    class="px-3"
  >
    <h1
      *ngIf="data.length == 0"
      style="
        text-align: center;
        margin-top: 15%;
        opacity: 20%;
        font-style: italic;
        font-weight: normal;
      "
    >
      There is No Available Data
    </h1>
    <canvas
      *ngIf="data.length != 0"
      id="chartCanvasPredictionAll"
      style="
        min-height: 100% !important;
        max-height: 100% !important;
        width: 100% !important;
      "
    ></canvas>
  </div>
  <div
    class="modal fade"
    id="predictionAllProsumersTable"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="predictionAllProsumersTableLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header text-white" style="background-color: #5875a1">
          <h5 class="modal-title" id="predictionAllProsumersTableLabel">
            Predicted Consumption/Production Prediction Table
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div
          class="modal-body pt-0"
          style="overflow-y: auto; overflow-x: hidden"
          id="modalFadePredictionAllProsumers"
        >
          <app-prediction-all-prosumers-table
            [data]="data"
          ></app-prediction-all-prosumers-table>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="exportTable(data)"
          >
            Export Table
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
