.off {
  color: red;
  font-size: 24px;
}
.on {
  color: green;
  font-size: 24px;
}

@media (max-width: 800px) {
  #left {
    clear: both;
    position: relative;

    justify-content: center;
    margin-bottom: 10%;
  }
  #right {
    clear: both;
    height: 20%;
    width: 100%;
  }
}
.gradient-custom {
  background: #e0efea;
  margin: 0;
}
@media (min-width: 768px) {
  .h-md-100 {
    height: 100% !important;
  }
}
.btn {
  background: #7e939c;
  border-color: #7e939c;
  box-shadow: #0000;
  color: #ffff;
}
.section {
  color: #7e939c;
}
.text-muted {
  color: #7e939c;
}
.btn-secondary {
  background-color: #8d021f;
}

h6 {
  color: #466471;
}
.greenZone {
  color: green;
}
.blueZone {
  color: #d96d2a;
}
.redZone {
  color: #c14b48;
}
.btn-close{
  background-color: white;
}
#cardone, #cardtwo{
  background: #e0efea;
}

@media (max-width: 576px)
{
  #consumptionLimitCardBody{
    width: 90% !important;
  }
}
.batteryOff{
  color: #8ca6a6;
}
.batteryCharging{
  color: #54d454;
}
.batteryInUse{
  color: #f3734d;
}
#batteryCont{
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.battery-body{
  height: 100%; 
  width: 95%; 
  border: 10px solid #08376b; 
  border-radius: 10px; 
  position: relative;
}
.battery-body h1{
  color: #08376b; 
  position: absolute; top: 2%;
}
.battery-level{
  /* background-color: #00ff00;  */
  border-radius: 5px; 
  height: 100%;
}
.battery-top{
  height: 45%; 
  width: 5%; 
  background-color: #08376b; 
  border-radius: 1px;
}

.charge{
  color: #08376b;
  font-size: 100px;
}
.inUse {
  color: green;
  font-size: 100px;
}
.faBtn{
  cursor: pointer;
  border: 2px solid rgb(246, 255, 251);
  border-radius: 10px;
  background-color: #ebf5f1;
}
.faBtn:hover{
  background-color: #d9dfdd;
  border-color: #d9dfdd;
  border-radius: 10px;
}
.faBtnSmall{
  cursor: pointer;
  border: 2px solid #ddece5;
  border-radius: 5px;
  background-color: #ecf5f1;
}
.faBtnSmall:hover{
  background-color: #d9dfdd;
  border-color: #d9dfdd;
  border-radius: 5px;
}