@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.pozadina {
  margin: 0 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    white 0%,
    white 40%,
    #5875a1 40%,
    #5875a1 100%
  );
}
#okvir {
  margin: 0;
  padding: 0;
  font-family: "Audiowide", cursive;
  box-sizing: border-box;
  position: absolute;
  width: 70%;
  height: 80%;
  left: 15%;
  display: flex;
  top: 10vh;
  background-color: #e8f3f8;
  box-shadow: 1px 5px 5px 7px rgba(0, 0, 0, 0.25);
}
#levi {
  position: relative;
  width: 35.75%;
  height: 100%;
  background: #ffffff;
  /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
#desni {
  display: flex;
  background: #e8f3f8;
  position: relative;
  height: 100%;
  width: 64.25%;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

#logo {
  position: relative;
  left: 5%;
  top: 40%;
  width: 90%;
  height: 20%;
}

#content {
  width: 80%;
  text-align: center;
  justify-content: center;
}

#content h1 {
  margin-bottom: 10%;
  margin-top: 5%;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 150%;
  font-size: 50px;
  color: #474f5b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#forgotpass {
  float: right;
  opacity: 0.98;
  /*text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
  color: #474f5b;
  font-style: italic;
  margin-top: 0.5%;
  font-size: 15px;
}

.password {
  text-align: left;
}

@media (max-width: 800px) {
  #levi {
    position: absolute;
    top: 0;
    left: 0;
    width: 64.25%;
    height: 100%;
  }

  #desni {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.btn{
  margin-top: 20px;
  border-radius: 10px;
  background-color: #466471;
  color: #FFFFFF;
}
.input-field{
  border-radius: 10px;
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #466471;
  background-color: #FFFFFF;
}

.input-field.error{
  border: 1px solid red;
  color: red;
}

input[type='text'],
input[type='password']{
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.fa-eye-slash.btn{
border: none;
outline: none;
box-shadow: none;
}

#forma{
text-align: start;
}
#forgotpass{
  cursor: pointer;
}
