<div class="pozadina">
    <section id="okvir">
      <div id="levi">
        <img id="logo" src="assets/logo.png" alt="" />
      </div>
      <div id="desni">
        <div id="content">
          <h1>Reset password</h1>
          <form [formGroup]="resetForm"  id="forma">
            
            <div class="form-group pt-3">
                <div class="input-field" >
                    <span class="fa fa-lock p-2"></span>
                    <input formControlName="password1" [type]="type"  [class.error]="resetForm.controls['password1'].dirty && resetForm.hasError('required','password1')" placeholder="Password" type="password">
                    <span class="fa {{eyeIcon}}"(click)="hideShowPass()"></span>
                </div>
            </div>
            <small  class="text-danger" *ngIf="resetForm.controls['password1'].dirty && resetForm.hasError('required','password1')">* Password is required</small>
            <div class="form-group pt-3">
              <div class="input-field" >
                  <span class="fa fa-lock p-2"></span>
                  <input formControlName="password2" [type]="type"  [class.error]="resetForm.controls['password2'].dirty && resetForm.hasError('required','password2')" placeholder="Confirm Password" type="password">
                  <span class="fa {{eyeIcon}}"(click)="hideShowPass()"></span>
              </div>
          </div>
            <small  class="text-danger" *ngIf="resetForm.controls['password2'].dirty && resetForm.hasError('required','password2')">* Confirm Password is required</small>
           
            <div>
              <br><button type="submit" (click)="Reset()" class="btn btn-block mt-4 w-100">Reset</button>
            </div>
        </form>
        </div>
      </div>
    </section>
  </div>
