<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"
/>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

<app-worker-profile #WorkerProfile></app-worker-profile>
<div
  class="col-md-12 p-0"
  *ngIf="!showDetails"
  style="display: flex; justify-content: center"
>
  <div class="container-xl p-0">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-5">
              <h2>Employee <b>Overview</b></h2>
            </div>

            <div class="col-sm-7">
              <div class="search-box">
                <div class="input-group" style="width: 100%">
                  <span class="input-group-addon"
                    ><i
                      class="material-icons"
                      style="margin-top: 30%; margin-right: 10%"
                      ></i
                    ></span
                  >
                  <input
                    type="text"
                    [(ngModel)]="searchName"
                    style="
                      background-color: #f8f8fa;
                      border-radius: 10px;
                      margin-right: 5%;
                      width: 10%;
                    "
                    class="form-control"
                    placeholder="Search By First Name"
                  />
                  <span class="input-group-addon"
                    ><i
                      class="material-icons"
                      style="margin-top: 30%; margin-right: 10%"
                      ></i
                    ></span
                  >
                  <input
                    type="text"
                    [(ngModel)]="searchLastName"
                    style="
                      background-color: #f8f8fa;
                      border-radius: 10px;
                      width: 10%;
                    "
                    class="form-control"
                    placeholder="Search By Last Name"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <!-- <th></th> -->
              <th (click)="sort('firstName')" style="white-space: nowrap;">
                First Name<i class="fa fa-sort"></i>
              </th>
              <th (click)="sort('lastName')">
                Last Name<i class="fa fa-sort"></i>
              </th>
              <th (click)="sort('username')">
                Username<i class="fa fa-sort"></i>
              </th>
              <th (click)="sort('region')">Region<i class="fa fa-sort"></i></th>
              <th (click)="sort('role')">
                Assigned Role<i class="fa fa-sort"></i>
              </th>
              <th>Options</th>
              <!-- <th></th> -->
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of service.employees
                  | orderBy : orderHeader : isDescOrder
                  | searchemployeelastname : searchLastName
                  | searchemployeename : searchName
                  | paginate
                    : {
                        itemsPerPage: perPage,
                        currentPage: page,
                        totalItems: total
                      };
                let i = index
              "
              (click)="Details(item.id)"
              style="cursor: pointer"
            >
              <!-- <td>
                <img
                  [src]="Image(item.image)"
                  class="rounded-circle"
                  style="width: 30px; height: 30px"
                />
              </td> -->
              <!-- <td></td> -->
              <td>{{ item.firstName }}</td>
              <td>{{ item.lastName }}</td>
              <td>{{ item.userName }}</td>
              <td>{{ regionName }}</td>
              <td>{{ item.roleName }}</td>
              <td>
                <a (click)="onDelete(item.id)" class="delete"
                  ><i class="material-icons"></i></a
                >
              </td>
              <!-- <td></td> -->
            </tr>
          </tbody>
        </table>
        <div
          style="
            text-align: center;
            margin-top: 27%;
            justify-content: center;
            position: flex;
            bottom: 0;
          "
          class="start-50"
        >
          <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
<app-popup-add></app-popup-add>
<app-popup-emp></app-popup-emp>
<div class="row p-0 col-md-12 m-0" *ngIf="showDetails">
  <div class="col-md-9 p-0">
    <div
      class="container-sm p-0"
      style="display: flex; justify-content: center"
    >
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-5">
                <h2>Employee <b>Overview</b></h2>
              </div>

              <div class="col-sm-7">
                <div class="search-box">
                  <div class="input-group" style="width: 100%">
                    <span class="input-group-addon"
                      ><i
                        class="material-icons"
                        style="margin-top: 30%; margin-right: 10%"
                        ></i
                      ></span
                    >
                    <input
                      type="text"
                      [(ngModel)]="searchName"
                      style="
                        background-color: #f8f8fa;
                        border-radius: 10px;
                        margin-right: 5%;
                        width: 10%;
                      "
                      class="form-control"
                      placeholder="Search By First Name"
                    />
                    <span class="input-group-addon"
                      ><i
                        class="material-icons"
                        style="margin-top: 30%; margin-right: 10%"
                        ></i
                      ></span
                    >
                    <input
                      type="text"
                      [(ngModel)]="searchLastName"
                      style="
                        background-color: #f8f8fa;
                        border-radius: 10px;
                        width: 10%;
                      "
                      class="form-control"
                      placeholder="Search By Last Name"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <!-- <th></th> -->
                <th (click)="sort('firstName')" style="white-space: nowrap;">
                  First Name<i class="fa fa-sort"></i>
                </th>
                <th (click)="sort('lastName')">
                  Last Name<i class="fa fa-sort"></i>
                </th>
                <th (click)="sort('username')">
                  Username<i class="fa fa-sort"></i>
                </th>
                <th (click)="sort('region')">
                  Region<i class="fa fa-sort"></i>
                </th>
                <th (click)="sort('role')">
                  Assigned Role<i class="fa fa-sort"></i>
                </th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let item of service.employees
                    | orderBy : orderHeader : isDescOrder
                    | searchemployeelastname : searchLastName
                    | searchemployeename : searchName
                    | paginate
                      : {
                          itemsPerPage: perPage,
                          currentPage: page,
                          totalItems: total
                        };
                  let i = index
                "
                (click)="Details(item.id)"
                style="cursor: pointer"
              >
                <!-- <td>
                  <img
                    [src]="Image(item.image)"
                    class="rounded-circle"
                    style="width: 30px; height: 30px"
                  />
                </td> -->
                <td>{{ item.firstName }}</td>
                <td>{{ item.lastName }}</td>
                <td>{{ item.userName }}</td>
                <td>{{ regionName }}</td>
                <td>{{ item.roleName }}</td>
                <td>
                  <a
                    (click)="onDelete(item.id)"
                    class="delete"
                    title=""
                    data-toggle="tooltip"
                    data-original-title="Delete"
                    ><i class="material-icons"></i></a
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <app-popup-add></app-popup-add>
          <app-popup-emp></app-popup-emp>
          <div
            style="
              text-align: center;
              margin-top: 27%;
              justify-content: center;
              position: flex;
              bottom: 0;
            "
            class="start-50"
          >
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 p-0" *ngIf="showDetails">
    <div style="height: 100vh; background-color: #566787">
      <button
        type="button"
        class="btn-close"
        id="closebtn"
        style="margin-left: 88%; margin-top: 2%"
        (click)="closeside()"
      ></button>
      <img
        [src]="imageSource1"
        class="profile-image img-fluid rounded-circle"
        style="
          width: 40%;
          justify-content: center;
          margin-left: 30%;
          margin-top: 7%;
        "
      />
      <h3 style="display: flex; justify-content: center; color: white">
        {{ firstName }} {{ lastName }}
      </h3>
      <h4 style="display: flex; justify-content: center; color: white">
        {{ username }}
      </h4>
      <div
        class="col-md-12"
        style="
          padding-top: 15%;
          margin-left: 12%;
          padding-left: 0px;
          padding-right: 0px;
        "
      >
        <div
          class="row mb-2"
          style="display: flex; justify-content: center; color: white"
        >
          <div class="col-md-12 p-0">
            <h6>{{ email }}</h6>
            <p style="color: #d3d3d3">e-mail</p>
          </div>
        </div>
        <div
          class="row mb-2"
          style="display: flex; justify-content: center; color: white"
        >
          <div class="col-md-6 p-0">
            <h6>{{ roleName }}</h6>
            <p style="color: #d3d3d3">role</p>
          </div>
          <div class="col-md-6 p-0">
            <h6>{{ regionName }}</h6>
            <p style="color: #d3d3d3">region</p>
          </div>
        </div>

        <div
          class="row mb-2"
          style="display: flex; justify-content: center; color: white"
        >
          <div class="col-md-6 p-0">
            <h6>{{ dateCreate }}</h6>
            <p style="color: #d3d3d3">starting date</p>
          </div>
          <div class="col-md-6 p-0">
            <h6>{{ salary }}</h6>
            <p style="color: #d3d3d3">salary</p>
          </div>
        </div>
      </div>
      <div
        style="
          margin-top: 5%;
          margin-bottom: 3%;
          display: flex;
          justify-content: center;
        "
      >
        <button
          data-bs-target="#Modal2"
          data-bs-toggle="modal"
          (click)="update(id)"
          style="
            background-color: #d6d9df;
            text-align: center;
            color: #566787;
            font-weight: bold;
            font-size: 16px;
            border: none;
            width: 100px;
            border-radius: 5px;
          "
        >
          <span
            style="display: flex; justify-content: center; align-items: center"
            ><i style="color: #566787; font-size: 16px" class="material-icons"
              >edit</i
            >
            Edit</span
          ></button
        >&nbsp;
        <button
          (click)="onDelete(id)"
          style="
            background-color: #d6d9df;
            text-align: center;
            color: #566787;
            font-weight: bold;
            font-size: 16px;
            border: none;
            width: 100px;
            border-radius: 5px;
          "
        >
          <span
            style="display: flex; justify-content: center; align-items: center"
            ><i style="color: #566787; font-size: 16px" class="material-icons"
              >delete</i
            >
            Delete</span
          >
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="Modal2"
  tabindex="-1"
  aria-labelledby="Modal2Label"
  aria-hidden="true"
  data-bs-keyboard="false"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-lg" style="width: 60%">
    <div class="modal-content">
      <div class="modal-header text-white" style="background-color: #566787">
        <h5 class="modal-title" id="Modal2Label">Edit Employee</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="closeBtn1"
          (click)="close()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <img
            [src]="imageSource1"
            class="rounded-circle"
            style="
              height: 15%;
              width: 15%;
              justify-content: center;
              margin-bottom: 2%;
            "
          />

          <button
            style="
              background-color: #566787;
              margin-left: 10%;
              text-align: center;
              color: white;
              font-weight: bold;
              font-size: 14px;
              border: none;
              width: 20%;
              border-radius: 5px;
            "
            data-bs-dismiss="modal"
            (click)="openChangePhoto()"
          >
            <span
              ><a id="changeImageLink" class="infoUser"
                ><i
                  style="color: #d6d9df; font-size: 16px; margin-top: 0%"
                  class="material-icons"
                  >edit</i
                >
                Change photo</a
              ></span
            >
          </button>
          <button
            class="btn btn-primary"
            [hidden]="true"
            id="openChangePhotoWorker"
            data-bs-toggle="modal"
            data-bs-target="#changePhotoWorker"
          >
            Open Change Photo
          </button>
        </div>
        <div class="mb-3" style="width: 50%; float: left">
          <label
            for="firstName"
            class="form-label"
            style="width: 90%; color: #566787; font-weight: bold"
            >First Name</label
          >
          <input
            type="text"
            class="form-control"
            id="firstName"
            [(ngModel)]="firstName"
            placeholder="First Name"
            style="
              width: 90%;
              border: 1px solid #566787;
              color: #566787;
              background-color: #e8f3f8;
              font-weight: 600;
            "
          />
        </div>
        <div class="mb-3" style="width: 50%; float: left">
          <label
            for="lastName"
            class="form-label"
            style="width: 90%; color: #566787; font-weight: bold"
            >Last Name</label
          >
          <input
            type="text"
            class="form-control"
            id="lastName"
            [(ngModel)]="lastName"
            placeholder="Last Name"
            style="
              width: 90%;
              border: 1px solid #566787;
              color: #566787;
              background-color: #e8f3f8;
              font-weight: 600;
            "
          />
        </div>
        <div class="mb-3" style="width: 50%; float: left">
          <label
            for="salary"
            class="form-label"
            style="width: 90%; color: #566787; font-weight: bold"
            >Salary</label
          >
          <input
            type="text"
            class="form-control"
            id="salary"
            [(ngModel)]="salary"
            placeholder="Salary"
            style="
              width: 90%;
              border: 1px solid #566787;
              color: #566787;
              background-color: #e8f3f8;
              font-weight: 600;
            "
          />
        </div>
        <div class="mb-3" style="width: 50%; float: left">
          <div class="mb-3">
            <label
              for="role"
              class="form-label"
              style="width: 90%; color: #566787; font-weight: bold"
              >Role</label
            >
            <select
              class="dropdown dropdown-toggle"
              name="model"
              [(ngModel)]="role"
              (change)="ChangeRole($event)"
              class="form-control"
              style="
                width: 90%;
                border: 1px solid #566787;
                color: #566787;
                background-color: #e8f3f8;
                font-weight: 600;
              "
            >
              <option value="0">Choose Role</option>
              <option *ngFor="let item of Role" [ngValue]="item.id">
                {{ item.roleName }}
              </option>
            </select>
          </div>
        </div>
        <div class="mb-3" style="width: 50%; float: left">
          <div class="mb-3">
            <label
              for="role"
              class="form-label"
              style="width: 90%; color: #566787; font-weight: bold"
              >Region</label
            >
            <select
              class="dropdown dropdown-toggle"
              name="model"
              class="form-control"
              style="
                width: 90%;
                border: 1px solid #c2ccd1;
                color: #566787;
                background-color: #c2ccd1;
                font-weight: 600;
              "
              [disabled]="true"
            >
              <!--
              [(ngModel)]="region"
              (change)="ChangeRole($event)" -->

              <option value="0">{{ regionName }}</option>
              <!-- <option *ngFor="let item of Region" [ngValue]="item.id">
                {{ item.regionName }}
              </option> -->
            </select>
          </div>
        </div>
        <div class="mb-3" style="width: 50%; float: left">
          <label
            for="email"
            class="form-label"
            style="width: 90%; color: #566787; font-weight: bold"
            >Email</label
          >
          <input
            type="text"
            class="form-control"
            id="email"
            [(ngModel)]="email"
            placeholder="Email"
            style="
              width: 90%;
              border: 1px solid #566787;
              color: #566787;
              background-color: #e8f3f8;
              font-weight: 600;
            "
          />
        </div>
      </div>
      <div class="modal-footer" style="display: flex; justify-content: center">
        <button
          type="button"
          class="btn"
          style="background-color: #566787; color: white; width: 40%"
          (click)="onUpdate(id)"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="changePhotoWorker"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="changePhotoWorkerLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-white" style="background-color: #5875a1">
        <h5 class="modal-title" id="changePhotoWorkerLabel">Photo Options</h5>
        <button
          type="button"
          class="btn-close"
          id="closeOptionsForPhoto1"
          data-bs-dismiss="modal"
          data-bs-target="#changePhotoWorker"
          aria-label="Close"
          (click)="closeChange()"
          style="background-color: white"
        ></button>
      </div>
      <div
        class="modal-body pe-0 ps-3 py-2"
        style="display: flex; align-items: center; justify-content: center"
      >
        <div class="col-7 m-0">
          <img
            [src]="imageSource1"
            style="width: 90%"
            class="img-fluid rounded-circle"
          />

          <h6 class="text-danger" *ngIf="errorDeletePhoto">
            Error! Try agian later.
          </h6>
        </div>
        <div class="col-5 m-0 p-0 d-flex align-items-center">
          <div class="container px-0">
            <div class="card my-2 col-12" style="border: 0">
              <div class="card-body" style="overflow-y: auto">
                <input
                  type="file"
                  style="display: none"
                  #fileInput
                  (change)="onFileSelected($event)"
                />
                <button
                  class="btn btn-primary"
                  [hidden]="true"
                  id="openCropImageBtn1"
                  data-bs-toggle="modal"
                  data-bs-target="#cropNewImageWorker"
                >
                  Open Crop
                </button>
                <button
                  class="btn btn-primary mb-2"
                  data-bs-dismiss="modal"
                  (click)="fileInput.click(); openCrop()"
                >
                  Choose New
                </button>
                <button class="btn btn-secondary" (click)="deleteImage()">
                  Delete Photo
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="confirmNewPhoto()"
        >
          Confirm
        </button>
        <button
          class="btn btn-primary"
          id="openWorkerAgain"
          [hidden]="true"
          data-bs-toggle="modal"
          data-bs-target="#Modal2"
        >
          Open Edit Worker Modal
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="cropNewImageWorker"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="cropNewImageWorkerLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header text-white" style="background-color: #5875a1">
        <h5 class="modal-title" id="cropNewImageWorkerLabel">Change Photo</h5>
        <button
          type="button"
          class="btn-close"
          id="closeCropPhoto"
          data-bs-dismiss="modal"
          data-bs-target="#cropNewImageWorker"
          aria-label="Close"
          (click)="closeChange()"
          style="background-color: white"
          [disabled]="updatedPhotoSuccess"
        ></button>
      </div>
      <div
        class="modal-body px-0 d-flex justify-content-center align-items-center"
        style="overflow-y: auto; max-height: 500px"
      >
        <div
          class="col-8 px-0 m-0"
          style="display: flex; justify-content: center; align-items: center"
        >
          <image-cropper
            [imageChangedEvent]="imgChangeEvet"
            [maintainAspectRatio]="true"
            [aspectRatio]="1 / 1"
            format="png"
            [imageAltText]="'Crop Image'"
            [cropperMinWidth]="100"
            [cropperMinHeight]="100"
            [roundCropper]="true"
            [hideResizeSquares]="false"
            (imageCropped)="cropImg($event)"
            id="showChangeImage"
          >
          </image-cropper>
        </div>
        <div
          class="col-4 px-0 m-0 row"
          style="display: flex; justify-content: center; align-items: center"
        >
          <div
            class="col-12 px-0 mb-3"
            style="display: flex; justify-content: center"
          >
            <input
              type="file"
              style="display: none"
              #fileInputNew
              (change)="onFileSelected($event)"
            />
            <button
              class="btn btn-primary"
              (click)="fileInputNew.click()"
              [disabled]="updatedPhotoSuccess"
            >
              Choose A Different Photo
            </button>
          </div>
          <div class="col-12 pe-0 ps-2 text-center mt-3">
            <h6 class="text-success" *ngIf="updatedPhotoSuccess">
              Updating profile... Please wait
            </h6>
            <h6 class="text-danger" *ngIf="updatedPhotoError">
              Error occurred! Try again later.
            </h6>
            <h6 class="text-danger" *ngIf="noFile">No file was selected.</h6>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="confirmImageChangeWorker"
          class="btn btn-primary"
          (click)="confirmNewPhoto()"
        >
          Confirm
        </button>
        <button
          [hidden]="true"
          data-bs-dismiss="modal"
          data-bs-target="#cropNewImageWorker"
          id="closeCropImagePhotoUpdated1"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
