.nav-link{
    color: #ffff;
}
.nav-item{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5%;
    border: solid 1px #466471;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .active{
    background-color: #466471;
} */
.sidebarBtn.active{
    background-color: #466471;
}
.sidebarBtn:not(.active){
    background-color: #59747f;
}