<div class="mb-3 mt-1">
  <label for="category" class="form-label mb-0">Device Category</label>
  <select
    class="dropdown dropdown-toggle"
    name="category"
    (change)="ChangeCategory($event)"
    [(ngModel)]="category"
    class="form-control"
    style="
      background-color: #466471;
      color: white;
      width: 50%;
      text-align: center;
    "
  >
    <option value="-1">Choose Category</option>
    <option *ngFor="let item of categories" [value]="item.id">
      {{ item.categoryName }}
    </option>
  </select>
</div>
<div class="mb-3">
  <label for="type" class="form-label mb-0">Device Type</label>
  <select
    class="dropdown dropdown-toggle"
    name="type"
    (change)="ChangeType($event)"
    [(ngModel)]="type"
    [value]="-1"
    class="form-control"
    style="background-color: #c1dfd5; width: 100%; color: #466471"
    [disabled]="!dropdownType"
  >
    <option value="-1">Choose Type</option>
    <option *ngFor="let item of types" [value]="item.id">
      {{ item.name }}
    </option>
  </select>
</div>
<div class="mb-3">
  <label for="Name" class="form-label mb-0">Device Model</label>
  <select
    class="dropdown dropdown-toggle"
    name="model"
    [(ngModel)]="model"
    (change)="ChangeModels($event)"
    [value]="0"
    class="form-control"
    style="background-color: #c1dfd5; width: 100%; color: #466471"
    [disabled]="!dropdownModel"
    
  >
    <option value="-1">Choose Model</option>
    <option *ngFor="let item of models" [ngValue]="item">
      {{ item.name }}
    </option>
  </select>
</div>
<div class="mb-3">
  <label for="name" class="form-label mb-0">Device Name</label>
  <input
    type="text"
    class="form-control"
    (change)="ChangeName($event)"
    id="name"
    style="background-color: #c1dfd5; color: #466471"
    [(ngModel)]="Name"
    placeholder="Device Name"
  />
</div>
<mat-slide-toggle [(ngModel)]="DsoView" (click)="ChangeButtonView()" class="mb-2"
  >Allow DSO to view</mat-slide-toggle
><br/>
<mat-slide-toggle [(ngModel)]="DsoControl" (click)="ChangeButtonControl()"
  >Allow DSO to control</mat-slide-toggle
>
<small class="text-danger mt-2 text-center" [hidden]="!showError"><br>Populate all fields!</small>