<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModal2Label"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-white" style="background-color: #5875a1">
        <h5 class="modal-title" id="exampleModalLabel2">Add New Employee</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="closebutton"
          (click)="close()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="panelbor">
          <div class="panel-body">
            <form [formGroup]="signupWorkerForm">
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signupWorkerForm.controls['firstName'].dirty &&
                    signupWorkerForm.hasError('required', 'firstName')
                  "
                  style="display: flex; justify-content: center"
                >
                  <!-- <label class="lbl">FirstName:</label> -->
                  <span
                    class="fa fa-user p-2"
                    style="font-size: 24px; margin-top: 1%"
                  ></span>
                  <input
                    formControlName="firstName"
                    type="text"
                    placeholder="First Name"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  signupWorkerForm.controls['firstName'].dirty &&
                  signupWorkerForm.hasError('required', 'firstName')
                "
                class="text-danger"
                >*FirstName is required</small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signupWorkerForm.controls['lastName'].dirty &&
                    signupWorkerForm.hasError('required', 'lastName')
                  "
                  style="display: flex; justify-content: center"
                >
                  <!-- <label class="lbl">LastName:</label> -->
                  <span
                    class="fa fa-user p-2"
                    style="font-size: 24px; margin-top: 1%"
                  ></span>
                  <input
                    formControlName="lastName"
                    type="text"
                    placeholder="Last Name"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  signupWorkerForm.controls['lastName'].dirty &&
                  signupWorkerForm.hasError('required', 'lastName')
                "
                class="text-danger"
                >*LastName is required</small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signupWorkerForm.controls['password'].dirty &&
                    signupWorkerForm.hasError('required', 'password')
                  "
                  style="display: flex; justify-content: center"
                >
                  <!-- <label class="lbl">Password:</label> -->
                  <span
                    class="fa fa-lock p-2"
                    style="font-size: 24px; margin-top: 1%"
                  ></span>
                  <input
                    formControlName="password"
                    type="{{ type }}"
                    placeholder="Password"
                  />
                  <span
                    class="p-viewer"
                    style="z-index: 9999; position: absolute; right: 10%"
                    ><i
                      (click)="hideShowPass()"
                      class="fa {{ eyeIcon }}"
                      style="font-size: 20px; margin-top: 60%"
                    ></i
                  ></span>
                </div>
              </div>
              <small
                *ngIf="
                  signupWorkerForm.controls['password'].dirty &&
                  signupWorkerForm.hasError('required', 'password')
                "
                class="text-danger"
                >*Password is required</small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signupWorkerForm.controls['passwordAgain'].dirty &&
                    signupWorkerForm.hasError('required', 'passwordAgain')
                  "
                  style="display: flex; justify-content: center"
                >
                  <!-- <label class="lbl">Password:</label> -->
                  <span
                    class="fa fa-lock p-2"
                    style="font-size: 24px; margin-top: 1%"
                  ></span>
                  <input
                    formControlName="passwordAgain"
                    type="{{ type }}"
                    placeholder="Confirm password"
                  />
                  <span
                    class="p-viewer"
                    style="z-index: 9999; position: absolute; right: 10%"
                    ><i
                      (click)="hideShowPass()"
                      class="fa {{ eyeIcon }}"
                      style="font-size: 20px; margin-top: 60%"
                    ></i
                  ></span>
                </div>
              </div>
              <small
                *ngIf="
                  signupWorkerForm.controls['passwordAgain'].dirty &&
                  signupWorkerForm.hasError('required', 'passwordAgain')
                "
                class="text-danger"
                >*Confirm Password is required</small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signupWorkerForm.controls['email'].dirty &&
                    signupWorkerForm.hasError('required', 'email')
                  "
                  style="display: flex; justify-content: center"
                >
                  <!-- <label class="lbl">Email:</label> -->
                  <span
                    class="fa fa-envelope p-2"
                    style="font-size: 20px; margin-top: 2%"
                  ></span>
                  <input
                    formControlName="email"
                    type="text"
                    placeholder="E-mail"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  signupWorkerForm.controls['email'].dirty &&
                  signupWorkerForm.hasError('required', 'email')
                "
                class="text-danger"
                >*E-mail is empty</small
              >
              <small
                *ngIf="
                  signupWorkerForm.controls['email'].dirty &&
                  signupWorkerForm.hasError('pattern', 'email')
                "
                class="text-danger"
                >*E-mail should be formatted like
                <i>example@gmail.com</i></small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    signupWorkerForm.controls['salary'].dirty &&
                    signupWorkerForm.hasError('required', 'salary')
                  "
                  style="display: flex; justify-content: center"
                >
                  <!-- <label class="lbl">Salary:</label> -->
                  <span style="font-size: 20px; margin-top: 2%"
                    ><i class="fa fa-money p-2"></i
                  ></span>
                  <input
                    formControlName="salary"
                    type="text"
                    placeholder="Salary"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  signupWorkerForm.controls['salary'].dirty &&
                  signupWorkerForm.hasError('required', 'salary')
                "
                class="text-danger"
                >*Salary is required</small
              >
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  style="display: flex; justify-content: start"
                >
                  <span style="font-size: 20px; margin-top: 1%"
                    ><i class="fa fa-image p-2"></i
                  ></span>
                  <input
                    type="file"
                    style="display: none"
                    #fileInput
                    (change)="onFileSelected($event)"
                  />

                  <button
                    class="btn btn-primary"
                    [hidden]="true"
                    id="openCropImageBtn2"
                    data-bs-toggle="modal"
                    data-bs-target="#cropNewImage"
                  >
                    Open Crop
                  </button>
                  <button
                    [ngStyle]="{ 'border-color': file ? 'green' : 'initial' }"
                    class="btn btn-primary mb-2"
                    style="
                      font-weight: bold;
                      margin-left: 0px;
                      width: 40%;
                      background-color: #e8f3f8;
                      color: #5875a1;
                      border-color: #5875a1;
                      border-radius: 10px;
                      border: 2px solid #5875a1;
                    "
                    data-bs-dismiss="modal"
                    (click)="fileInput.click(); openCrop()"
                  >
                    Choose photo
                  </button>
                  <span *ngIf="file === true"
                    ><i
                      class="fa fa-trash"
                      style="
                        color: red;
                        margin-top: 35%;
                        margin-left: 10%;
                        font-size: 24px;
                        cursor: pointer;
                      "
                      (click)="deleteselectimage()"
                    ></i
                  ></span>
                </div>
              </div>
              <small
                *ngIf="
                  signupWorkerForm.value.password !==
                  signupWorkerForm.value.passwordAgain
                "
                class="text-danger"
                >*Password and confirmation password do not match</small
              ><br />
              <button type="submit" class="btn btn1" (click)="onSubmit()">
                Confirm
              </button>
              <button
                class="btn btn-primary"
                id="openAgain"
                [hidden]="true"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal2"
              >
                Open Add Worker Modal
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="cropNewImage"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="cropNewImageLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header text-white" style="background-color: #5875a1">
        <h5 class="modal-title" id="cropNewImageLabel">Choose Photo</h5>
        <button
          type="button"
          class="btn-close"
          id="closeCropPhoto"
          data-bs-dismiss="modal"
          data-bs-target="#cropNewImage"
          aria-label="Close"
          (click)="closeChange()"
          style="background-color: white"
          [disabled]="updatedPhotoSuccess"
        ></button>
      </div>
      <div
        class="modal-body px-0 d-flex justify-content-center align-items-center"
        style="overflow-y: auto; max-height: 500px"
      >
        <div
          class="col-8 px-0 m-0"
          style="display: flex; justify-content: center; align-items: center"
        >
          <image-cropper
            [imageChangedEvent]="imgChangeEvet"
            [maintainAspectRatio]="true"
            [aspectRatio]="1 / 1"
            format="png"
            [imageAltText]="'Crop Image'"
            [cropperMinWidth]="100"
            [cropperMinHeight]="100"
            [roundCropper]="true"
            [hideResizeSquares]="false"
            (imageCropped)="cropImg($event)"
            id="showChangeImage"
          >
          </image-cropper>
        </div>
        <div
          class="col-4 px-0 m-0 row"
          style="display: flex; justify-content: center; align-items: center"
        >
          <div
            class="col-12 px-0 mb-3"
            style="display: flex; justify-content: center"
          >
            <input
              type="file"
              style="display: none"
              #fileInputNew
              (change)="onFileSelected($event)"
            />
            <button
              class="btn btn-primary"
              (click)="fileInputNew.click()"
              [disabled]="updatedPhotoSuccess"
            >
              Choose A Different Photo
            </button>
          </div>
          <div class="col-12 pe-0 ps-2 text-center mt-3">
            <h6 class="text-success" *ngIf="updatedPhotoSuccess">
              Photo succesfully added... Please wait
            </h6>
            <h6 class="text-danger" *ngIf="updatedPhotoError">
              Error occurred! Try again later.
            </h6>
            <h6 class="text-danger" *ngIf="noFile">No file was selected.</h6>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="confirmImageChange"
          class="btn btn-primary"
          (click)="confirmNewPhoto()"
        >
          Confirm
        </button>
        <button
          [hidden]="true"
          data-bs-dismiss="modal"
          data-bs-target="#cropNewImage"
          id="closeCropImagePhotoUpdated2"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
