<form [formGroup]="editUser">
    <label class="mb-0 mt-3">First name</label>
    <input
      type="text"
      name="firstName"
      formControlName="FirstName"
    />
    <label class="mb-0 mt-4">Last name</label>
    <input
      type="text"
      name="lastName"
      formControlName="LastName"
    />
    <label class="mb-0 mt-4">Email</label>
    <input
      type="text"
      name="email"
      formControlName="Email"
      class="mb-4"
    />
    <label class="mb-0">City</label>
    <select (change)="getAllNeighborhoodById($event)">
      <option *ngFor="let city of cities" [value]="city.id" [selected]="city.id === cityId.toString()">
        {{ city.cityName }}
      </option>
    </select>
    <input
        formControlName="CityName"
        type="hidden"
        [(ngModel)]="cityName"
        />
    <label class="mb-0 mt-4">Neighborhood</label>
    <select
      (change)="getNeighId($event)"
    >
      <option value="">
        --Select Neighborhood --
      </option>
      <option
        *ngFor="let neig of neighborhoods"
        [value]="neig.neigbName"
        [selected]="neig.neigbName === neighName.toString()"
      >
        {{ neig.neigbName }}
      </option>
    </select>
    <input
        formControlName="NeigborhoodName"
        type="hidden"
        [(ngModel)]="neighName"
        />
    <label class="mb-0 mt-4">Address</label>
    <input
      type="text"
      name="address"
      formControlName="Address"
      class="mb-4"
      [(ngModel)]="address"
    />
    <input
      id="dugme"
      type="button"
      value="Save"
      routerLink="/DsoApp/user/{{ id }}"
      (click)="UpdateData()"
    />
  </form>